#menu_body{
    padding-right: 10px;
    color: white;
    text-decoration: none;
}
#menu_conjunto{
    padding-right: 10px;
    color: white;
    text-decoration: none;
}
#menu_corpiño{
    padding-right: 10px;
    color: white;
    text-decoration: none;
}
#menu_bombacha{
    padding-right: 10px;
    color: white;
    text-decoration: none;
}
#Home{
    padding-right: 10px;
    color: white;
    text-decoration: none;
}
#carro{
    color: white;
}